.blog-grid
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr))
  grid-auto-rows: 300px
  grid-gap: 2rem

.blog-card-wrapper
  box-shadow: 0 0 3px rgba(grey, 0.2)

.blog-card
  object
    width: 100%
    height: 100%
    overflow: hidden
    padding: 0
    margin: 0
    display: block
    position: relative
    &:hover
      .blog-card__content
        transform: translateY(0%)
        background: white
      .blog-card__target
        opacity: 1

  &__image
    width: 100%
    height: 100%
    img
      display: block
      width: 100%
      height: 100%
      margin: 0
      padding: 0
      object-fit: cover
      object-position: center

  &__content
    background-color: rgba(white, 0.9)
    position: absolute
    padding: 15px
    bottom: 0
    left: 0
    right: 0
    transform: translateY(65%)
    transition: all ease-in-out 300ms
    padding-bottom: 30px

  &__target
    margin-top: 2rem
    opacity: 0
    transition: opacity ease-in-out 300ms 200ms
    &::before
      content: ''
      display: block
      width: 60px
      height: 2px
      background-color: $color__main
      margin: 0 auto
  &__title
    display: block
    text-align: center
    color: $color__main
    text-decoration: none
    font-weight: bold
    margin-bottom: 1rem
    transition: all ease-in-out 300ms
  &__excerpt
    font-size: 0.9rem
    color: $color__text-main